.multilevelpushmenu_wrapper ul{
	height: 699px;
    overflow: scroll;
}

#loader {
	font-weight: 900;
	width : 255px;
	height: 40px;
	padding : 0 0.4px 0.4px 0.4px;
}
#loader a{
	margin-top: 5px;
	font-size: 2em;
	padding-top: 15px;
	padding-left: 20px;
	padding-bottom: 5px;
	display: block;
	width: 255px;
	height: 50px;
	background: #4E9CAF;
	color: white;
	font-weight: bold;
}

#loader a:hover{
	background: #365c7a;
}

#svg{
	position: absolute;
	top: 15px;
	left: 230px;
	height : 750px;
	color: #000;
	font-size: 1.5em;
	z-index: 1;
	overflow-y: auto;
}

::-webkit-scrollbar { 
    display: none; 
}

#menu{
	margin-bottom: -10px;
	box-shadow: 1px 0px 25px rgba(120,120,120,1);
}

#textInformation {
	position: absolute;
	left: 1070px;
	color: #000;
	height : 750px;
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 2em;
	z-index: 1;
	overflow-y:hidden;
	border-color: #e5e5e5 #eee #eee;
	border-style: solid;
	border-width: 0 3px;
	-webkit-box-shadow: inset 0 3px 6px rgba(0,0,0,.05);
	box-shadow: inset 0 3px 6px rgba(0,0,0,.05);
	padding: 3px 0 0px 5px
}

.selectorInfo {
	padding: 15px 10px 25px 0;
	border-color: #e5e5e5 #eee #eee;
	border-style: solid;
	border-width: 0px 0px 5px 0px;
}

#selectorFont{
	color: #959595;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: 700;
	font-size: 20px;
}

#detailInfoFont{
	color: #959595;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: 700;
	font-size: 20px;
}

#detail{
	padding-left: 10px;
	padding-top: 10px;
}
#detail table{
	width:100%;
}


svg#svgContent {
	left: 1000px;
	width: 810px;
	height: 600000px;
	overflow-y: auto;
}

.selector{
	border-color: #e5e5e5 #eee #eee;
	border-style: solid;
	border-width: 0 0 3px 0;
	-webkit-box-shadow: inset 0 3px 6px rgba(0,0,0,.05);
	box-shadow: inset 0 3px 6px rgba(0,0,0,.05);
}
#tagSelector{
	float:left;
	padding-left: 15px;
	padding-top: 5px;
	margin-top: 15px;
	margin-left:15px;
	margin-bottom: 10px;
	display:inline-block;
	width:225px;
	height:295px;
	border-color: #e5e5e5 #eee #eee;
	border-style: solid;
	border-width: 2px 2px 2px 2px;
	-webkit-box-shadow: inset 0 3px 6px rgba(0,0,0,.05);
	box-shadow: inset 0 3px 6px rgba(0,0,0,.05);
	overflow-y:scroll;

}

#sourceSelector font{
	padding-left:25px;
	font-size: 3;
}
#tagSelectorInfo{
	padding-top: 20px;
	border-color: #e5e5e5 #eee #eee;
	border-style: solid;
	border-width: 0 2px 0 0;
	box-shadow: inset 0 3px 6px rgba(0,0,0,.05);

}
#tagSelectorInfo [type=checkbox]{
	width:25px;
	height:25px;
}

#tagSelectorInfo span{
	padding-left:5px;
}

#sourceSelector{
	display:inline-block;
	padding-left: 15px;
	padding-top: 5px;
	margin-top: 15px;
	margin-left:30px;
	margin-right: 15px;
	margin-bottom: 10px;
	width:225px;
	height:295px;
	border-color: #e5e5e5 #eee #eee;
	border-style: solid;
	border-width: 2px 2px 2px 2px;
	-webkit-box-shadow: inset 0 3px 6px rgba(0,0,0,.05);
	box-shadow: inset 0 3px 6px rgba(0,0,0,.05);
}

#sourceSelectorInfo{
	border-color: #e5e5e5 #eee #eee;
	border-style: solid;
	border-width: 0 2px 0 0;
	box-shadow: inset 0 3px 6px rgba(0,0,0,.05);
	padding-top: 45px;
	margin-right: 10px;
}

#sourceSelectorInfoInput{
    height:120px;
    font-size:30pt;
}

#searchSelector{
	margin-left: 40px;
	margin-top: 10px;
	margin-bottom: 15px;
	width:450px;
}

#loading {
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 100;
	width: 100vw;
	height: 100vh;
	background-color: rgba(128, 128, 128, 0.7);
	background-image: url("../resource/loading.gif");
	background-repeat: no-repeat;
	background-position: center;
}
#delButton {
	display: none;
}

#delButtonHover{
	display: none;
}
html {
 overflow: -moz-scrollbars-none; 
}

