<!DOCTYPE html>
{% load staticfiles %}
{% csrf_token %}
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="description" content="">
		<meta name="author" content="">

		<title>Anotation Tool</title>
		<link href="{% static "lib/css/bootstrap.min.css" %}" rel="stylesheet">
		<link href="{% static "lib/css/bootstrap-theme.min.css"%}" rel="stylesheet">
		<link href="{% static "lib/css/bootstrap-dialog.min.css" %}" rel="stylesheet"/>
		<link href="{% static "lib/css/font-awesome.min.css"%}" rel="stylesheet">
		<link href="{% static "lib/css/jquery.multilevelpushmenu.css"%}" rel="stylesheet">	
		<link href="{% static "css/menuTemplete.css"%}" rel="stylesheet">
		<!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
		<!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
		<!--<script src="../../assets/js/ie-emulation-modes-warning.js"></script>-->

		<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
		<!--[if lt IE 9]>
		<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
		<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
		<![endif]-->
	</head>

	<body>
		<div id="loading"></div>
		<div class="svg" id ="svg" style="margin-left: 0px; margin-right: 0px;">
			<svg height="800" width="800" id="svgContent">
				<g class ="text">
					<text x="80" y="400" fill="rgb(149,149,149)" font-family="Verdana" 
        			font-size="35">CLICK FILE FOR MORE INFORMATION</text></g>
				<g class ="highlight"></g>
				<g class ="tag"></g>
				<g class ="tagRect"></g>
				<svg width="50" height="50" id = "delButton">
					<circle cx="15" cy="15" r="9"  fill="red" id= "delButtonCircle" />
					<text x="10" y="23" font-family="sans-serif" font-size="18px" fill="white" id = "delButtonText">
						X
					</text>
				</svg>
			</svg>
		</div>
		<div class="textInformation" id="textInformation" style="margin-left: 0px; margin-right: 0px;">			
			<div class="selector">
				<font id="selectorFont">Selector</font>
	      		<form name="i_s">
	      			<div id="tagSelector"><font>依照tag類型</font><br>	
	     				<div id="tagSelectorInfo"></div>
					</div>
					<div id="sourceSelector">
						<font size="3" style='padding-left:35px;'>依照來源</font><br>
						<div id="sourceSelectorInfo">
							<input type="text" class="form-control" id="sourceSelectorInfoInput" placeholder="輸入來源">
	                    </div>
					</div>
					<button type="button" class="btn btn-primary btn-lg" id="searchSelector">Search</button>
				</form>

			</div>		
			<div class="datailInfo">
				<font id="detailInfoFont">Detail Info</font>
				<div id="detail"></div>
			</div>
			
		</div>
		<div class="menu" id="menu"></div>
		<!--load javascript-->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
		<script src="{% static "lib/js/bootstrap.min.js" %}"></script>
		<script src="{% static "lib/js/bootstrap-dialog.min.js"%}"></script>
		<script src="{% static "lib/js/jquery.multilevelpushmenu.min.js"%}"></script>
		<script src="{% static "js/sidebarManager.js" %}"></script>
		<script src="{% static "js/selectorManager.js" %}"></script>
		<script src="{% static "js/selector.js"%}"></script>	
		<script>
			SidebarManager.ini();
			Selector.ini();
			SelectorManager.ini();
		</script>
		<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
		<!--<script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>-->
	</body>
</html>
