<!DOCTYPE html>
{% load staticfiles %}
<html>
  <head>
    <title>Login...</title>
    <link href=" {% static "lib/css/bootstrap.min.css" %}" rel="stylesheet">
    <link href=" {% static "lib/css/bootstrap-theme.min.css" %}" rel="stylesheet">
    <link href=" {% static "css/login.css" %}" rel="stylesheet">
  </head>
  <body>
    <div class="container">
      <form action="/auth/" class="form-signin" method="POST"  enctype="multipart/form-data">{% csrf_token %}     
        {% if loginError == False %}
        <h2 class="form-signin-heading">Sign in</h2>
        {% endif %}
        {% if loginError == True %}
        <h2 class="form-signin-heading"><span style="color:red">Error Username/Password</span></h2>
        {% endif %}
        <label for="inputUser" class="sr-only">Username</label>
        <input type="user" id="username" name="username" class="form-control" placeholder="Username" required autofocus>
        <label for="inputPassword" class="sr-only">Password</label>
        <input type="password" id="password" name="password" class="form-control" placeholder="Password" required>
        <button class="btn btn-lg btn-primary btn-block loginBtn" type="loginSubmit">Sign in</button>
      </form>
    </div>
  </body>
</html>
