<!DOCTYPE html>
{% load staticfiles %}
<html>
	<head>
		<title>Tagging</title>

		<link href=" {% static "lib/css/bootstrap.min.css" %}" rel="stylesheet">
		<link href=" {% static "lib/css/bootstrap-theme.min.css" %}" rel="stylesheet">
		<link href=" {% static "css/selectTxt.css" %}"rel="stylesheet">
	</head>
	<body>
		<div class="tagging">
			<div class="panel panel-primary">
     			 <div class="panel-heading">
        				<h3 class="panel-title">Text</h3>
      		 </div>
      			 <div class="panel-body tagText">
      			 </div>
   		</div>
   		<div class="panel panel-primary">
     			 <div class="panel-heading">
        				<h3 class="panel-title">Tag</h3>
      			 </div>
      			 <div class="panel-body tag">
              {% for tag in tagContents %}
      			 	 <a href="#" class="list-group-item tagItem"><span class="glyphicon glyphicon-list-alt"></span><span style="color:rgb({{tag.tag_color}})"  >{{tag.tag_name}}</span></a>
               {% endfor %}
     			 </div>
   		</div>
      <div class="panel panel-primary">
           <div class="panel-heading">
                <h3 class="panel-title">Note</h3>
             </div>
             <div class="panel-body">
               <input type="text" name="note" size="60">
           </div>
      </div>
   			<a class="btn btn-primary setting" role="button" id="confirmBtn">Save Changes</a>
			<a class="btn btn-default setting" role="button" id="closeBtn">Cancel</a>			
		</div>
		<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js"></script>
		<script src="{% static "lib/js/bootstrap.min.js" %}"></script>
		<script src="{% static "js/query.js" %}"></script>
	</body>
</html>