<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="description" content="">
		<meta name="author" content="">

		<title>iirs project</title>
		
		<link href="{% static "css/bootstrap.min.css" %}" rel="stylesheet">
		<link href="{% static 'css/dataTemplete.css' %}" rel="stylesheet">
		<!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
		<!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
		<!--<script src="../../assets/js/ie-emulation-modes-warning.js"></script>-->

		<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
		<!--[if lt IE 9]>
		<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
		<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
		<![endif]-->
	</head>

	<body>
		<!--<nav class="navbar navbar-inverse navbar-fixed-top">
			<div class="container">
				<div class="navbar-header">
					<a class="navbar-brand" href="#">Database Management</a>
				</div>
			</div>
		</nav>-->

		<div class="container-fluid">
      		<div class="row">
        		<div class="col-sm-3 col-md-2 sidebar">
          			<ul class="nav nav-sidebar">
           				<li class="active"><a href="txtIndex.html">TxtIndex<span class="sr-only">(current)</span></a></li>
			            <!--<li><a href="#">Insert Table</a></li>
			            <li><a href="#">Edit Table</a></li>-->
			            <li><a href="tag.html">Tag<span class="sr-only">(current)</span></a></li>
			            <li><a href="tagInfo.html">TagInfo<span class="sr-only">(current)</span></a></li>
          			</ul>
      		  </div>
      			<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">          
      				<div class="table-responsive">
      					<!--<button type="button" class="btn btn-lg btn-primary" onClick="Datas.addFileData()">add data</button>-->
       					 <table style="width:30%">
       					 	<tr>
       					 		<td><form action="{% url 'txtIndex' %}fileIndex/"  id="indexUploadForm" method="POST" enctype="multipart/form-data" >
				           			 {% csrf_token %}
				            		<span class="btn btn-success btn-lg btn-file" id="indexUpload">Index Upload...
				               		 {{ indexForm.txtIndex.errors }}
				               		 {{ indexForm.txtIndex }}
				           			</span>
				        		</form></td>
								<td><form action="{% url 'txtIndex' %}txt/" id="txtUploadForm" method="POST" enctype="multipart/form-data">
				           			 {% csrf_token %}
				            		<span class="btn btn-success btn-lg btn-file" id="txtUpload">Txt Upload...
				               		 {{ txtForm.txts.errors }}
				               		 {{ txtForm.txts }}
				           			</span>
				        		</form></td>
				        	</tr>
				        </table>
      					<br><br>
      					<form name="fileForm" id="f_form" method="POST">
      						{% csrf_token %}
		            		<table class="table table-striped" id="table">
		             			<thead>
					                <tr>
					                	{% for header in headers %}
					                		<th>{{header}}</th>
					                	{% endfor %}
					                </tr>
		             			 </thead>
		              			<tbody>
		              				{%for content in contents %}
						            	<tr>
						               		<td>{{content.file_name}}</td>
						               		<td>{{content.node_name}}</td>
											<td>{{content.childIndex_from}}</td>
											<td>{{content.childIndex_to}}</td>
											<td>{{content.searchIndex}}</td> 
											<!--<td align="right">
												<button type="button" class="btn btn-default">
	  												<span class="glyphicon glyphicon-align-left" aria-hidden="true" name="action" value="edit">
	  												</span>
												</button>
												<button type="button" class="btn btn-default">
	  												<span class="glyphicon glyphicon-remove" aria-hidden="true" name="action" value="remove">
	  												</span>
												</button>
											</td>-->
						            	</tr>
						            {% endfor %}
						        </tbody>
		           			</table>
		           		</form>
		           		<ul class="pagination pagination-lg">
						    <li>
						      <a href=?page={{pages.previousPage}} aria-label="Previous">
						        <span aria-hidden="true">&laquo;</span>
						      </a>
						    </li>
						    <li class="active"><a href=?page={{pages.curPage}}>{{pages.curPage}}</a></li>
						    {% if pages.nextPage != "#" %}
						    	{% if pages.curPage|add:1 <= pages.limitPage %}
							    	<li><a href=?page={{pages.curPage|add:1}}>{{pages.curPage|add:1}}</a></li>
							    {% endif%}

							    {% if pages.curPage|add:2 <= pages.limitPage %}
							    <li><a href=?page={{pages.curPage|add:2}}>{{pages.curPage|add:2}}</a></li>
							    {% endif%}

							    {% if pages.curPage|add:3 <= pages.limitPage %}
							    <li><a href=?page={{pages.curPage|add:3}}>{{pages.curPage|add:3}}</a></li>
							    {% endif%}

							    {% if pages.curPage|add:4 <= pages.limitPage %}
							    <li><a href=?page={{pages.curPage|add:4}}>{{pages.curPage|add:4}}</a></li>
							    {% endif%}
							{% endif %}
						    <li>
						    {% if pages.nextPage != "#" %}
						      <a href=?page={{pages.nextPage}} aria-label="Next">
						        <span aria-hidden="true">&raquo;</span>
						      </a>
						      <li></li>
						    	<li><a href=?page={{pages.limitPage}}>...{{pages.limitPage}}</a></li>
						    {% endif %}
						    {% if pages.nextPage == "#" %}
						      <a href='#' aria-label="Next">
						        <span aria-hidden="true">&raquo;</span>
						      </a>
						    {% endif %}
						    </li>	    
						</ul>
         			</div>
      			</div>
      		</div>
      </div>
		<!--
		<p id="tableQuery">
			<a class="btn btn-primary btn-lg" href="#" role="button" >create table</a>
			<a class="btn btn-primary btn-lg" href="#" role="button">edit table</a>
		</p>-->


		<!--load javascript-->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
		<script src="{% static 'lib/bootstrap.min.js' %}"></script>
		<script src="{% static 'js/dataService.js' %}"></script>
		<script>
			Datas.initFile();
			Datas.initSideBarIndex();
			Datas.initTxtUpload();
		</script>
	</body>
</html>
