.setting{
	float:right;
	margin-left:10px;
}
.panel{
  margin-bottom: 20px;
  margin-right: 5px;
  margin-left:5px;
}
.tagging{
  position: relative;
  padding: 30px 7px 45px;
  margin: -13px -10px;
  border-color: #e5e5e5 #eee #eee;
  border-style: solid;
  border-width: 1px 0;
  -webkit-box-shadow: inset 0 3px 6px rgba(0,0,0,.05);
  box-shadow: inset 0 3px 6px rgba(0,0,0,.05);
}

.tagging:before{
  position: absolute;
  top: 5px;
  left: 5px;
  font-size: 12px;
  font-weight: 700;
  color: #959595;
  text-transform: uppercase;
  letter-spacing: 1px;
  content: "Tagging";
}
.tag{
  overflow-y: auto;
  height:200px;
}
.glyphicon{
	margin-right: 5px;
}

a span{
    pointer-events: none;
}


